#scrollBar::-webkit-scrollbar{
    width: 5px;
    background: none;
}
#scrollBar::-webkit-scrollbar-track{
    /* background: #686b71; */
    border-radius: 100vw;
    margin-block: .5em;
}
#scrollBar::-webkit-scrollbar-thumb{
    background:  #40414e;
    border-radius: 100vw;
    border: 0px solid white;
}
/* #scrollBar:-webkit-scrollbar-thumb:hover{
    background:hsl(120 100% 20% / 1);
} */
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: #1c1c1c;
}
::-webkit-scrollbar-track{
    /* background: hsl(120 75% 50% / 1); */
    border-radius: 100vw;
    margin-block: .5em;
}
::-webkit-scrollbar-thumb{
    background:  #40414e;;
    border-radius: 100vw;
}
.App{
    background-color:black;
    color: white;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */  
}
.MVP{
    position: relative;
    bottom:13.4em;
    font-size: 1rem;
}
.thumb{
    width: 100%;
}
.selectedView{
    border-bottom-style: solid;
    border-bottom-color:#a9dfd8;
    z-index: 1;
    position: relative;
    bottom: 20px;
    border-radius: 5px;
}
.selectView{
    border-bottom-style: solid;
    border-bottom-color:black;
    z-index: 1;
    position: relative;
    bottom: 20px;
    border-radius: 5px;
}
#displayMenu{
    background:linear-gradient(360deg, rgba(116,178,221,1) 0%, rgba(114,202,224,1) 20%, rgba(51,193,189,1) 50%, rgba(80,204,147,1) 100%);
    width: 5px;
    height: 45px;
    border-radius: 2px;
}
.pointer{
    cursor:pointer
}
.team:hover{
    background: #1b2025;
    border-radius: 1px;
}
.btnAction{
    border-radius:10px; 
    background:#a9dfd8;
    color:#2a2c3e;
    padding: .25em;
}
.btnOff{
    border-radius:10px; 
    background:#1c1c1c;  
    color:white;
    padding: .25em;
}
#trophy{
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    background-size: 75%;
    /* background-position:; */
}
#tradeBtn{
    background:#a9dfd8;
    width:195px;
    border-radius:25px;
    padding-top:.5rem;
    padding-bottom:.5rem;
    padding-left:14px;
    padding-right:14px;
    border:0px solid black;
    color:#292a34;
    font-weight:bold
}
.backgroundShot{
    background-color:#111111;
    top:40px;
    height: 86px;
    border-radius: 25%;
    position: relative;
    z-index: -1;
    /* border: 2px solid white; */
}
.headShot{
    background-repeat: no-repeat;
    background-position: center;
    background-size:177px;
    height: 125px;
    width: 125.11px;
    border-radius: 25px;
}

.smallHeadShotQB{
    background-color: #edf4f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size:90px;
    height: 56px;
    width: 56.11px;
    border-radius: 50%;
    border: 2px solid #f8296d;
}

.smallHeadShotRB{
    background-color:#edf4f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size:90px;
    height: 56px;
    width: 56.11px;
    border-radius: 50%;
    border: 2px solid #36ceb8;

}

.smallHeadShotWR{
    background-color: #edf4f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size:90px;
    height: 56px;
    width: 56.11px;
    border-radius: 50%;
    border: 2px solid #58a7ff;
}

.smallHeadShotTE{
    background-color:#edf4f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size:90px;
    height: 56px;
    width: 56.11px;
    border-radius: 50%;
    border: 2px solid #faae58;
}

.smallHeadShotK{
    background-color: #edf4f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size:90px;
    height: 56px;
    width: 56.11px;
    border-radius: 50%;
    border: 2px solid #bd66ff;
}
.smallHeadShot{
    background-color:#edf4f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size:90px;
    height: 56px;
    width: 56.11px;
    border-radius: 50%;
    border: 1px solid black;
}
.displayOwnerLogo{
    position: relative;
    z-index: 1;
    top: 50px;
    left:0px;
    text-align: right; 
}

.displayOwnerLogoSM{
    position: relative;
    z-index: 1;
    top: 25px;
    left: 10px;
    text-align: right; 
}

.displayOwnerLogoMD{
    position: relative;
    z-index: 0;
    text-align: right; 
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
}

.qbHUD{
    background-color: #f8296d;
    color: whitesmoke;
    border-radius: 25%;
    border: 2px solid #edf4f6;
    padding:5px;
    font-size: 11px;    
    font-weight: bold;
    text-align: center;
}

.rbHUD{
    background-color: #36ceb8;
    color: black;
    border-radius: 25%;
    border: 2px solid #edf4f6;
    padding:5px;
    font-size: 11px;   
    font-weight: bold;   
    text-align: center;
}

.wrHUD{
    background-color: #58a7ff;
    color: whitesmoke;
    border-radius: 25%;
    border: 2px solid #edf4f6;
    padding:5px;
    font-size: 11px;    
    font-weight: bold;    
    text-align: center;
}

.teHUD{
    background-color: #faae58;
    color: black;
    border-radius: 25%;
    border: 2px solid #edf4f6;
    padding:5px;
    font-size: 11px;    
    font-weight: bold;    
    text-align: center;
}

.leagueLogo {
    max-width: 100%;
}

.ownerLogo {
    border-radius: 50%;
    width: 29px;
}
.ownerLogoMD {
    border-radius:2%;
    width: 2.5rem;
    height: 3.5rem;
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    /* border: 1px solid whitesmoke; */
}

.minusLogo {
    border-radius: 50%;
    width: 25px;
    background-color: whitesmoke;
}

.displayHUD{
    position: relative;
    z-index: 1;
    top: -20px;
    text-align: center;
}

.tradeIcon{
    position: relative;
    z-index: 1;
    text-align: center;
    top:-7rem
}

.truncate {
    width: 85.22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bold{
    font-weight: bold;
}