.thumb{
    width: 100%;
}

.backgroundShot{
    background-color:#edf4f6;
    top:30%;
    height: 70px;
    border-radius: 25%;
    position: relative;
    z-index: -1;
    /* border: 1px solid black; */
}

.headShot{
    background-repeat: no-repeat;
    background-position: center;
    background-size:177px;
    height: 125px;
    width: 100px;
    border-radius: 25%;
    /* border: 1px solid black; */
}

.qbHUD{
    background-color: #f8296d;
    color: black;
    border-radius: 25%;
    padding:8px;
    font-size: 14px;    
    text-align: center;
}

.rbHUD{
    background-color: #36ceb8;
    color: black;
    border-radius: 25%;
    padding:8px;
    font-size: 14px;    
    text-align: center;
}

.wrHUD{
    background-color: #58a7ff;
    color: black;
    border-radius: 25%;
    padding:8px;
    font-size: 14px;    
    text-align: center;
}

.teHUD{
    background-color: #faae58;
    color: black;
    border-radius: 25%;
    padding:8px;
    font-size: 14px;    
    text-align: center;
}