.thumb{
    width: 100%;
}

.backgroundShot{
    background-color:#edf4f6;
    top:30%;
    height: 70px;
    border-radius: 25%;
    position: relative;
    z-index: -1;
    /* border: 1px solid black; */
}

.headShot{
    background-repeat: no-repeat;
    background-position: center;
    background-size:177px;
    height: 125px;
    width: 100px;
    border-radius: 25%;
    /* border: 1px solid black; */
}