.thumb{
    width: 100%;
}

.backgroundShot{
    background-color:#edf4f6;
    top:30%;
    height: 86px;
    border-radius: 25%;
    position: relative;
    z-index: -1;
    /* border: 1px solid black; */
}

.headShot{
    background-repeat: no-repeat;
    background-position: center;
    background-size:177px;
    height: 125px;
    width: 125.11px;
    border-radius: 25%;
}

.displayOwnerLogo{
    position: relative;
    z-index: 1;
    top: 50px;
    text-align: right; 
}

.qbHUD{
    background-color: #f8296d;
    color: whitesmoke;
    border-radius: 25%;
    border: 1px solid #edf4f6;
    padding:5px;
    font-size: 11px;    
    font-weight: bold;
    text-align: center;
}

.rbHUD{
    background-color: #36ceb8;
    color: black;
    border-radius: 25%;
    border: 1px solid #edf4f6;
    padding:5px;
    font-size: 11px;   
    font-weight: bold;   
    text-align: center;
}

.wrHUD{
    background-color: #58a7ff;
    color: whitesmoke;
    border-radius: 25%;
    border: 1px solid #edf4f6;
    padding:5px;
    font-size: 11px;    
    font-weight: bold;    
    text-align: center;
}

.teHUD{
    background-color: #faae58;
    color: black;
    border-radius: 25%;
    border: 1px solid #edf4f6;
    padding:5px;
    font-size: 11px;    
    font-weight: bold;    
    text-align: center;
}

.leagueLogo {
    width: 100%;
}

.ownerLogo {
    border-radius: 50%;
    width: 29px;
    box-shadow: 3px 5px 15px rgb(167, 166, 166);
}

.displayHUD{
    position: relative;
    z-index: 1;
    top: -20px;
    text-align: center;
}

.bold{
    font-weight: bold;
}